{
  "presets": [
    ["env",{"modules": false}],"@babel/preset-stage-3","@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ],
      "presets": ["@babel/preset-env"],
      "comments": true
    }
  }
}