{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ],
      "presets": [
        "@babel/preset-env"
      ],
      "comments": true
    }
  }
}